/* css styles */
.about-page p {
  font-size: 0.9rem;
  font-weight: normal;
}
.quarto-title-banner .quarto-title .title {
  font-size: 2.2rem;  /* adjust as needed */
}
.post-title + .post-categories {
  margin-top: 0.5rem; /* You can adjust the spacing */
}