/* css styles */
.about-page p {
  font-size: 0.9rem;
  font-weight: normal;
}
h1.title, .quarto-title-banner .title {
  font-size: 2.2rem !important;
}
.quarto-title-meta {
  margin-top: 0.5rem !important;
}