/* css styles */
.about-page p {
  font-size: 0.9rem;
  font-weight: normal;
}
.navbar-title {
  font-size: 1.8rem; /* Adjust this value to your liking */
  font-weight: bold;
}
.post-title + .post-categories {
  margin-top: 0.5rem; /* You can adjust the spacing */
}